.btn {
    background-color: var(--panel-color);
    border-radius: 0.25rem;
    box-shadow:
        0px 0px 0px 1px #AAA inset,
        0px 0px 50px 1px #FFF0 inset,
        0rem 0.25rem 0.25rem #0004;
    margin: var(--gap-m);
    padding: var(--gap-m) calc(var(--gap-m) * 2);
    border: none;
    cursor: pointer;
    font-size: medium;
    transition: box-shadow 0.1s;
}

.btn:hover {
    box-shadow:
        0px 0px 0px 1px #CCC inset,
        0px 0px 50px 1px #FFF0 inset,
        0rem 0.25rem 0.25rem #0004;
}

.btn:active {
    box-shadow:
        0px 0px 0px 1px #CCC inset,
        0px 0px 50px 1px #FFF6 inset,
        0rem 0.25rem 0.25rem #0004;
}