:root {
    font-family: Arial, Helvetica, sans-serif;
    color-scheme: light dark;
    color: var(--text-color);
    --gap-s: 0.25rem;
    --gap-m: calc(var(--gap-s) * 2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #FFF;
        --panel-color: #FFF3;
        --bg-color: #FFF1;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #000;
        --panel-color: #FFF3;
        --bg-color: #FFFA;
    }
}

body {
    background-color: var(--bg-color);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}