* {
    min-height: 0;
    min-width: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    color-scheme: dark;
    color: var(--text-color);
    --gap-s: 0.25rem;
    --gap-m: calc(var(--gap-s) * 2);

    --confirm-color: rgb(79, 225, 79);
    --warn-color: yellow;
    --cancel-color: rgb(215, 51, 51);

    --text-color: #FFF;
    --panel-color: rgba(60, 60, 60, 1);
    --bg-color: #FFF1;
}

body {
    background-color: var(--bg-color);
}

#root {
    display: grid;
    grid-template-rows: auto 1fr;
}

main.content {
    display: grid;
    overflow: auto;
}

body {
    display: grid;
    min-height: 0px;
    overflow: hidden;
    width: calc(100vw - 1rem);
    height: calc(100vh - 1rem);
}