/* .leaderboard {
  cursor: pointer;
  background-color: rgb(31, 84, 119);
  display: inline-block;
  width: auto;
  padding-top: 1em;
  border-radius: 1em;
  white-space: nowrap;
  border: none;
  justify-content: space-between;
} */

#user1 {
  /* background-color: rgb(255, 215, 0); original gold color */
  background-color: rgb(179, 152, 0);
  transition: background-color 0.15s ease-out;
}

#user1:hover {
  background-color: rgb(153, 130, 0);
}

#user2 {
  /* background-color: rgb(192, 192, 192); original silver color */
  background-color: rgb(153, 153, 153);
  transition: background-color 0.15s ease-out;
}

#user2:hover {
  background-color: rgb(128, 128, 128);
}

#user3 {
  /* background-color: rgb(205, 127, 50); original bronze color */
  background-color: rgb(144, 89, 35);
  transition: background-color 0.15s ease-out;
}

#user3:hover {
  background-color: rgb(123, 77, 30);
}

.board_row {
  cursor: pointer;
  background-color: rgb(31, 84, 119);
  transition: filter 0.15s ease-out;
  display: flex;
  width: 30em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 50rem;
  white-space: nowrap;
  border: none;
  justify-content: space-between;
}

.board_row:hover {
  filter: saturate(0.5);
}

.board_ellipsis {
  display: flex;
  width: 30em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 50rem;
  white-space: nowrap;
  border: none;
  justify-content: space-between;
}

.row_elem {
  display: flex;
  width: 1.5em;
}

.align{
  display: flex;
  width: 1.5em;
  margin-left: auto;
  margin-right: 1.5em;
}