/* Tags Selected List */
.tags {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tags>* {
  background-color: green;
  display: inline;
  margin: 0.2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 50rem;
}

.tags_container {
  display: flex;
  align-items: center;
}

/* Difficulty Slider */
.diffSlider {
  max-width: 20em;
}

/* Complicated Difficulty Slider Styling */
.diffSlider .range-slider__thumb[data-lower] {
  background: var(--gradient-start);
}

.diffSlider .range-slider__thumb[data-upper] {
  background: var(--gradient-end);
}

.diffSlider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

.range-slider__range {
  background: linear-gradient(to right, var(--gradient-start), var(--gradient-end)) !important;
  background-size: 200% 100%;
  background-position: 50% 0;
}